html {
    font-family: 'Roboto', sans-serif;
}

header {
  background-color: #4a4c60;
  height: 50px;
  display: flex;
  align-items: center; /* Alinea verticalmente al centro */
  padding: 0 10px;
  color: white;
}

header img {
  height: 50px; /* Ajusta según el tamaño de tu imagen */
  margin-right: 10px;
}

header h1 {
  margin: 0;
  font-size: 18px;
}

header p {
  margin-left: auto; /* Empuja el texto a la derecha */
  font-size: 14px;
}

.container {
    width: 400px;
    height: 300px;
    margin: 0 auto;
    background-color: #4a4c60;
    color: white;
    border-radius: 8px;
}

section h2 {
    text-align: center;
    font-size: 60px;
}

section div {
  display: flex;
  align-items: center;
  justify-content: center; /* centra horizontalmente */
  padding: 10px;
  border: none;
}

section div img {
  height: 30px;
  margin-right: 10px;
}

section div input {
  flex: 1; /* ocupa todo el ancho restante */
  padding: 5px;
  font-size: 16px;
  border-radius: 0.5rem;
  border: none;
}

.forgot {
  text-align: right;
  margin-top: -5px;
  margin-right: 12px;
  font-size: 12px;
}

.forgot a {
  color: white;
  text-decoration: none;
}

.forgot a:hover {
  text-decoration: underline;
}

button {
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  display: block;
  margin: 20px auto 0 auto; /* lo centra y agrega espacio arriba */
  font-family: 'Roboto', sans-serif; /* si estás usando esta fuente */
  letter-spacing: 1px;
  border-radius: 5px;
}

button:hover {
  background-color: #333; /* efecto al pasar el cursor */
  transform: scale(1.02)
}

.info-text {
  text-align: center;
  color: red;
  font-size: 12px;
  font-weight: bold;
  margin-top: 20px;
}
